<div class="row">
  <div class="col-xs-12">
    <div style="margin-bottom:10px;" *ngIf="showAddButton && markers?.length <= 4">
      <button type="submit" class="btn btn-primary" (click)="addMarker()">Add new map point</button>
    </div>
    <agm-map [latitude]="lat"
             [longitude]="lng"
             [zoom]="zoom"
             [disableDefaultUI]="false"
             [zoomControl]="false">
      <agm-marker *ngFor="let marker of markers; let i = index"
                  (markerClick)="clickedMarker(marker.label, i)"
                  [latitude]="marker.lat"
                  [longitude]="marker.lng"
                  [markerDraggable]="marker.draggable"
                  (dragEnd)="markerDragEnd(marker, $event, i)">
        <!--[label]="marker.label"-->
        <agm-info-window>
          <strong *ngIf="(!marker.draggable || !showAddButton) else editMarkerTitle">{{marker.title}}</strong>
          <ng-template #editMarkerTitle><input type="text" [(ngModel)]="marker.title" /></ng-template>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
